<% provide(:title, "Calendar") %>

<%= render 'shared/site_header_nav', site: @site, active_tab: "calendar" %> 
 
<table class = "table"> 
  <% @site.group_meetings.each do |meeting| %>
    <tr>
      <td><%=meeting.date.strftime("%B %d")%></td>
      <td>
        <% if meeting.tutors.include?(current_user) %>
          <%=link_to "Session \##{meeting.session_number}",find_lesson_plan_group_meeting_path(meeting) %>
        <% else %>
           <%=link_to "Session \##{meeting.session_number}", new_group_meeting_tutor_lesson_plan_path(meeting, current_user) %>
        <% end %>
    </tr>
  <% end %>
</table>