<% bs = @lessonplan.sections.order(:start_page) %>

   <% 4.times do |n| %>
    <% current = bs[n].id if bs[n] %>

    <%= select_tag("section#{n}", options_from_collection_for_select(Section.order(:start_page),:id,:name, current), prompt: "Select Section", class: "form-control") %>
    <br>
  <% end %>

  <div class="form-group">
    <%= label_tag :notes, "Plan for Session" %>
    <%= text_area_tag :notes, @lessonplan.notes, rows: 10, class: "form-control" %>
  </div>
  <br>

  <% 4.times do |n| %>
    <% current = @homework_sections[n].id if @homework_sections && @homework_sections[n] %>

    <%= select_tag("homework#{n}", options_from_collection_for_select(Section.order(:start_page),:id,:name, current), prompt: "Assign Homework", class: "form-control") %>
    <br>
  <% end %>
  <br>