<% provide(:title, @student.full_name) %>

<%= render 'shared/student_header_nav', student: @student, active_tab: "scores" %>

<div class="row">
  <div class="col-sm-10 col-sm-offset1">
  <h3 class="secondary">Scaled Scores</h3>
    <%= render 'individual_student_score_table', student: @student, tests: @tests, scores: @scores, segments: @segments %>

  <h3 class="secondary">Raw Scores</h3>
    <%= render 'raw_score_table', student: @student, tests: @tests, scores: @scores, segments: @segments %>
  </div>
  <div class="h4 col-sm-offset10">
    <%= link_to "View Hit-Try Matrix", hit_try_matrix_student_path(@student) %>
  </div>
</div>


