<% provide(:title, "#{@student.full_name} #{@segment.name} Performance") %>

<h1 class="secondary"><%=@student.full_name %> <%=@segment.name %> Performance <br>
<small><%=@test.name%></small></h1>

<%= render 'shared/performance_table', performance: @performance %>
