<% provide(:title, "#{@student.full_name} #{@segment.name} Performance") %>

<h1><%=link_to @student.full_name, @student, class: "secondary" %> <br>
<small><%=@test.name%> - <%=@segment.name %> Performance </small></h1>

<%= render 'shared/performance_table', performance: @performance %>
