<% provide(:title,"Update Profile")%>

<h1> Update Profile 
  <% if @tutor !=current_user %>
    for <%= @tutor.full_name %>
  <% end %>
</h1>

<div class="col-md-5 col-md-offset-2">
  <%= form_for @tutor do |f| %>

    <%= render 'fields', f: f %>

    <br>
    <%=f.submit "Update Profile", class: "btn btn-primary" %>
  <% end %>
</div>
