<div class="btn-group">
  <button class="btn btn-secondary btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
    Check Homework <span class="caret"></span>
  </button>
  <ul class="dropdown-menu", role="menu">
    <%= render 'shared/current_hw_list', student: student %>
  </ul>
</div>