<ul class="nav nav-pills secondary nav-stacked">
  <li <%= 'class=active' if active_tab == "check" %>><%= link_to "Check Homework", "#" %></li>
  <li <%= 'class=active' if active_tab == "past" %>> <%= link_to "Past Homework", "#" %></li>
</ul>


   