<ul class="nav nav-pills secondary nav-stacked">
  <li <%= 'class=active' if active_tab == "scaled" %>><%= link_to "Scaled Scores", scaled_scores_student_path(student) %></li>
  <li <%= 'class=active' if active_tab == "raw" %>> <%= link_to "Raw Scores", "#" %></li>
</ul>


   