@import "bootstrap";

/* universal */

$my-primary: #2e5bcd;
$my-secondary: #19be8c;
$my-accent: #ffd966;
$gray: #cccccc;
$dark-gray: #999999;

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}
// bootstrap changes
.btn-primary {
  background-color: $my-primary;
  border-color: $my-primary;  //change for depth?
}

.btn-secondary {
  background-color: $my-secondary;
  border-color: $my-secondary;  //change for depth?
  color: white;
}

.table .td-bordered {
  border: 3px solid black;
  // border-top: 3px solid black;
}

.navbar-default {
  background-color: $my-primary;
  .navbar-nav >li > a{
    color: $gray;
  }
  .navbar-nav >li > a:hover{
    color: white;
  }
  .navbar-brand{
    color: white;
  }
  a.navbar-brand:hover{
    color: $gray;
  }
}

.brand-picture{
  padding: 0px 15px 0px 0px;
  float: left;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: $my-accent;
  color: white;
}

.navbar-default .navbar-nav > li > a:focus {
  color: $gray;
}

.primary {
  color: $my-primary;
}

.secondary {
  color: $my-secondary;
}

.accent {
  color: $my-accent;
}

.panel-secondary {
  border-color: $my-secondary;
}

.wrong {
  color: red;
}

.panel-secondary > .panel-heading {
color: white;
background-color: $my-secondary;
border-color: $my-secondary;
}

.panel-plan {
  border-color: #dddddd;
}

.panel-plan > .panel-heading {
  color: $my-secondary;
  background-color: #dddddd;
  border-color: #dddddd;
}

.panel-default > .panel-heading {
  color: $my-secondary;
}

.panel-accent {
  border-color: $my-accent;
}

.panel-accent > .panel-heading {
  color: white;
  background-color: $my-accent;
  border-color: $my-accent;
}

.panel-primary {
  border-color: $my-primary;
}

.panel-primary > .panel-heading {
  color: white;
  background-color: $my-primary;
  border-color: $my-primary;
}

.panel-matrix {
  page-break-inside: avoid !important;
}


.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills  > li.active > a:focus  {
  background-color: $my-secondary;
  color: white;
}

.nav-pills > li > a {
  color: $my-secondary;
}

.subtle {
  color: #aaaaaa;
}

.mail {
  color: black;
}

.black {
  color: black;
}

.gray {
  color: $dark-gray;
}

.nav-tabs-justified > .active > a, .nav-tabs.nav-justified > .active > a, .nav-tabs-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs-justified > .active > a:focus, .nav-tabs.nav-justified > .active > a:focus {
  background-color: $my-primary;
  border: 1px solid $my-primary;
  color: white;

}

.nav-tabs {
  border-bottom: 1px solid $my-primary;
}

.nav-tabs-justified, .nav-tabs.nav-justified {
  border-bottom: 1px solid $my-primary; }

.tooltip-inner {
  background-color: $my-primary;
}

.tooltip {
  &.bottom .tooltip-arrow,
  &.bottom-left .tooltip-arrow,
  &.bottom-right .tooltip-arrow {
    border-bottom-color: $my-primary;
  }
}

.table-score {
  tr > th:first-child {
    text-align: left;
  }
  tr > th {
    text-align: center;
  }
  tr > td:first-child {
    text-align: left;
  }
  tr > td {
    text-align: right;
  }
}







.center {
  text-align: center;
  h1 {
  margin-bottom: 10px;
  }
}

.reg-ticket{
  h1 {
    padding-bottom: 50px
  }
}

// for registration tickets
.info-block {
  font-size: 20px;
  line-height: 30px;
  margin-top: -30px;
  margin-right: -50px;
}

ul.hw-section {
  margin-left: 20px;
  list-style-image: url('checkbox.png');
}

.hw-header {
  font-weight: bold;
}

.profile-pic {
  border: 3px solid $my-primary;
}
// print format

@media print {

  @page { margin:1cm}

  .container {
    margin-top: -60px;
  }
  #print_link {
    display: none;
  }
  .navbar {
    display: none;
  }

  .navbar-inner {
    display: none;
  }

  .wtf {
    page-break-before: always;
  }

  .reg-ticket {
    page-break-after: always;
    padding: 100px 60px 0px 60px;
    .info-block{
      font-size: 12pt;
    }
    .h4 {
      font-size: 12pt;
    }
  }

  .reg-ticket:last-of-type {
    page-break-after: never;
  } 

  h1 {
    font-size: 20pt;
  }

  

  a[href]:after {
    content: none;
  }

  
  // div[class|=col-] {float:left;}
  // .col-sm-4 {width:33%}
}
